<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<title>Novo Pedido</title>
</head>
<body>

	<div class="container">
		<div class="jumbotron mb-0">
			<h1 class="display=4">Novo Pedido</h1>
		</div>
		<form action="/pedido/novo" method="POST">
			<div>
				<div>
					<label for="nomeProduto">Produto</label> <input name="nomeProduto"
						placeholder="nome do produto"> <small>Informa qual
						o nome do Produto</small>
				</div>
				<div>
					<label for="urlProduto">Url do Produto</label> <input name="urlProduto"
						placeholder="Url do produto"> <small>Procure em um site o produto que você deseja e cole a Url aqui.</small>
				</div>
				<div>
					<label for="urlImagem">Url da Imagem</label> <input name="urlImagem"
						placeholder="Url da Imagem"> <small>Procure em um site a imgem do produto que você deseja e cole a Url aqui.</small>
				</div>
				<div>
					<label for="descricaoProduto">Descrição do Produto</label> <textarea name="descricaoProduto"
						placeholder="Descrição do produto"> <small>Adicione caracteristicas para ajudar o comprador a decidir</small>
				</div>

				<button type="submit">Cadastrar</button>
			</div>
		</form>
	</div>

</body>
</html>